name: Python App テスト自動化
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Python をセットアップ
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: 依存パッケージのインストール
      run: |
        pip install -r requirements.txt
    - name: main.pyを構文チェック
      run: |
        python main.py --check
